header{
    width:100%;
    margin:auto;
    padding:auto;
    border:black solid 1px;
    text-align: center;
    background-color: rgb(76, 108, 246);
}

.container{
    display:flex;
}

#searchCol{
    width:35%;
    border:black solid 1px;
    text-align: center;
    flex-flow: column;
}
#weatherCol{
    width:65%;
    border:black solid 1px;
    text-align: center;
    flex-flow: column;
}

form{
    display: flex;
    flex-direction: column;
    padding:20px;
    align-items: center;
}

button{
    width: 40%;
    margin:10px;
}