header{
    width:100%;
    margin:auto;
    padding:auto;
    border:black solid 1px;
    text-align: center;
    background-color: rgb(76, 108, 246);
    height:10vh;
}

.container{
    display:flex;
}

#currentWeatherBox{
    width: auto;
    height: 40%;
    border: black 2px solid;
    text-align: center;
}

#searchCol{
    width:35%;
    border:black solid 1px;
    text-align: center;
    flex-flow: column;
    height: 87vh;
}

#searchCol h4{
    color:red;
    height: 10px;
}

#pastResults{
    list-style-type: none;
    padding: 0;
}

#pastResults button{
    width: 80%;
}

#weatherCol{
    width:65%;
    border:black solid 1px;
    text-align: center;
    flex-flow: column;
    height: 87vh;
}

#cityTitle{
    font-size: 35px;
}

#cityItems{
    list-style-type: none;
    padding: 0;
    font-size: 25px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input{
    width:60%;
}

form button{
    width:60%;
    background-color: rgb(93, 139, 248);
}

form h1{
    margin-bottom: 20px;
    border-bottom: black 3px solid;
    width: 90%;
}

button{
    width: 40%;
    margin:10px;
    background-color: rgb(93, 139, 248);
}

#boxes{
    display: flex;
}

#Day1{
    width:20%;
    border: black solid 3px;
    height: 33vh;
    margin: 10px;
}

#Day2{
    width:20%;
    border: black solid 3px;
    height: 33vh;
    margin: 10px;
}
#Day3{
    width:20%;
    border: black solid 3px;
    height: 33vh;
    margin: 10px;
}
#Day4{
    width:20%;
    border: black solid 3px;
    height: 33vh;
    margin: 10px;
}
#Day5{
    width:20%;
    border: black solid 3px;
    height: 33vh;
    margin: 10px;
}

button:hover{
    background-color: azure;
}