header{
    width:100%;
    margin:auto;
    padding:auto;
    border:black solid 1px;
    text-align: center;
    background-color: rgb(165, 216, 251);
    height:10vh;
    font-size: 23px;
    display: flex;
    justify-content: center;
}

header h1{
    margin:0;
    padding:0;
    margin-top:10px;
}

.container{
    display:flex;
}

#currentWeatherBox{
    width: auto;
    border: black 2px solid;
    text-align: center;
}

#searchCol{
    width:35%;
    border:black solid 1px;
    text-align: center;
    flex-flow: column;
    height: 87vh;
}

#searchCol h4{
    color:red;
    height: 10px;
}

#pastResults{
    list-style-type: none;
    padding: 0;
}

#pastResults button{
    width: 80%;
}

#weatherCol{
    width:65%;
    border:black solid 1px;
    text-align: center;
    flex-flow: column;
    height: 87vh;
}

#cityTitle{
    font-size: 35px;
}

#dateTitle{
    font-size: 25px;
}

#cityItems{
    list-style-type: none;
    padding: 0;
    font-size: 25px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input{
    width:60%;
}

form button{
    width:60%;
    background-color: rgb(165, 216, 251);
}

form h1{
    margin-bottom: 20px;
    border-bottom: black 3px solid;
    width: 90%;
}

button{
    width: 40%;
    margin:10px;
    background-color: rgb(165, 216, 251);
    font-size: 20px;
}

#boxes{
    display: flex;
}

#Day1{
    width:20%;
    border: black solid 3px;
    height: 33vh;
    margin: 10px;
    background-color: rgb(3, 3, 109);
    color: white;
}

#day1Content{
    list-style-type: none;
    padding:0;
}

#Day2{
    width:20%;
    border: black solid 3px;
    height: 33vh;
    margin: 10px;
    background-color: rgb(3, 3, 109);
    color: white;
}

#day2Content{
    list-style-type: none;
    padding:0;
}

#Day3{
    width:20%;
    border: black solid 3px;
    height: 33vh;
    margin: 10px;
    background-color: rgb(3, 3, 109);
    color: white;
}

#day3Content{
    list-style-type: none;
    padding:0;
}

#Day4{
    width:20%;
    border: black solid 3px;
    height: 33vh;
    margin: 10px;
    background-color: rgb(3, 3, 109);
    color: white;
}

#day4Content{
    list-style-type: none;
    padding:0;
}

#Day5{
    width:20%;
    border: black solid 3px;
    height: 33vh;
    margin: 10px;
    background-color: rgb(3, 3, 109);
    color: white;
}

#day5Content{
    list-style-type: none;
    padding:0;
}

button:hover{
    background-color: azure;
}